<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698360135872-uek2ms13sc5je6t73n4755jqk55hnmrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698360135872-uek2ms13sc5je6t73n4755jqk55hnmrj</string>
	<key>API_KEY</key>
	<string>AIzaSyAUILIPELeqzyC6CT5AEA52Zw5orYRxTRI</string>
	<key>GCM_SENDER_ID</key>
	<string>698360135872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.challenge</string>
	<key>PROJECT_ID</key>
	<string>flutter-challenge-f32cb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-challenge-f32cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698360135872:ios:d71017d64b2f318156ad25</string>
</dict>
</plist>